*{
    margin: 0;
    padding: 0;

}

.container{
        width: 100%;
        min-height: 100vh;
        background:lightskyblue ;
        padding: 10px;
}
.to-do{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    background:#fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do h1{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do h1 img{
    width: 40px;
    margin-left: 15px;
}
.row{
    display: flex;
 
  align-items: center;
  justify-content:space-between;

}
.row input{
    padding: 10px;
    width: 80%;
    margin: 10px;
    border: none;
    background: #dcd9d9;
    border-radius: 10px;
    outline: none ;
}
.row button{
    width: 60px;
    background-color: #b82707;
    padding: 10px;
    border-radius:10px   20px;
    border: none;
  outline: none;
}

ul li{
    list-style: none;
    font-size: 17px;
    user-select: none;
    padding: 12px 8px 12px 60px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url("https://th.bing.com/th/id/OIP.I3Me6fqxaXcncBK_WkBbLwHaHa?w=193&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 20px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url("https://th.bing.com/th/id/OIP.TU4PlioZ5W6EH2UdhaheBwHaHa?pid=ImgDet&w=184&h=184&c=7&dpr=1.3");
}

ul li span{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    width:  30px;
    height: 30px;
    color: #555;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
ul li span:hover{
    background: #787474;
}

